<h2><%= @tournament.name %></h2>
<h4><%= @tournament.time %> | <%= @tournament.tournament_type %></h4>
<hr>
<h4>Rule:<%= link_to @tournament.rule, @tournament.rule, target: "_blank" %></h4>
<h4>URL:<%= link_to @tournament.url, @tournament.url, target: "_blank" %></h4>
<% if @tournament.firstplace %>
<hr>
<center><h4>1st (+80 ELO) <%= image_tag @tournament.firstplace.image_url, class: "logo margin-image" %>2st (+40 ELO) <%= image_tag @tournament.secondplace.image_url, class: "logo margin-image" %>3st (+20 ELO) <%= image_tag @tournament.thirdplace.image_url, class: "logo margin-image" %></h4></center>
<%  else %>
<%= link_to 'Edit', edit_tournament_path(@tournament), class: "btn btn-success" %>
<%= link_to 'Submit a match', new_game_path(tournament_id: @tournament.id), class: "btn btn-success" %>
<%  end %>
<hr>
<table class="table table-striped">
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td style="vertical-align: middle; font-size: 15px;text-align: right;"><%= game.player1belo %>→<%= game.player1aelo %><%= link_to image_tag(game.player1.image_url, class: "logo"), player_path(game.player1) %><%= image_tag game.team1.logo, class: "logo" %></td>
        <td style="vertical-align: middle; font-size: 15px;text-align: center;"><b style="font-size:30px;"><%=game.result_in_text %></b><br><%= game.game_type %><%= game.created_at.strftime("%Y/%m/%d") if @tournament.id==1 %></td>
        <td style="vertical-align: middle; font-size: 15px;text-align: left;"><%= image_tag game.team2.logo, class: "logo" %><%= link_to image_tag(game.player2.image_url, class: "logo"), player_path(game.player2) %><%= game.player2belo %>→<%= game.player2aelo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<style>
 .logo {
   height: 50px;
 }
 
 .margin-image {
   margin-right: 50px;
 }
</style>