<center><h3 style="color:#ea6153;padding:10px;font-weight:bold;">GROUP 1</h3></center>
<table class="table table-striped" style="text-align: center;border: 1px rgb(237, 237, 237) solid">
  <thead>
    <tr>
      <th width ="10%" style="text-align: center">RANK</th>
      <th width ="10%"style="text-align: center">IMAGE</th>
      <th width ="30%"style="text-align: center">PLAYER</th>
      <th width ="10%" style="text-align: center">PLAYED</th>
      <th width ="10%" style="text-align: center">WON</th>
      <th width ="10%" style="text-align: center">DRAWN</th>
      <th width ="10%" style="text-align: center">LOST</th>
      <th width ="10%" style="text-align: center">POINTS</th>
    </tr>
  </thead>
  <tbody>
    <% @group1.each_with_index do |player, i| %>
      <tr>
        <td style="vertical-align: middle; font-size: 15px;"><%= i + 1 %></td>
        <td><%= link_to image_tag(player.image_url, style: "width: 50px"), player_path(player.id) %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.name %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.won_games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.drawn_games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.lost_games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.elo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><h3 style="color:#2980b9;padding:10px;font-weight:bold;">GROUP 2</h3></center>
<table class="table table-striped" style="text-align: center;border: 1px rgb(237, 237, 237) solid">
  <tbody>
    <% @group2.each_with_index do |player, i| %>
      <tr>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= i + 4 %></td>
        <td width ="10%"><%= link_to image_tag(player.image_url, style: "width: 50px"), player_path(player.id) %></td>
        <td width ="30%" style="vertical-align: middle; font-size: 15px;"><%= player.name %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.won_games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.drawn_games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.lost_games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.elo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><h3 style="color:#27ae60;padding:10px;font-weight:bold;">GROUP 3</h3></center>
<table class="table table-striped" style="text-align: center;border: 1px rgb(237, 237, 237) solid">
  <tbody>
    <% @group3.each_with_index do |player, i| %>
      <tr>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= i + 7 %></td>
        <td width ="10%"><%= link_to image_tag(player.image_url, style: "width: 50px"), player_path(player.id) %></td>
        <td width ="30%" style="vertical-align: middle; font-size: 15px;"><%= player.name %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.won_games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.drawn_games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.lost_games.count %></td>
        <td width ="10%" style="vertical-align: middle; font-size: 15px;"><%= player.elo %></td>
      </tr>
    <% end %>
  </tbody>
</table>