<h3>RANKINGS</h3>
<table class="table table-striped" style="text-align: center">
  <thead>
    <tr>
      <th style="text-align: center">RANK</th>
      <th style="text-align: center">IMAGE</th>
      <th style="text-align: center">PLAYER</th>
      <th style="text-align: center">PLAYED</th>
      <th style="text-align: center">WON</th>
      <th style="text-align: center">DRAWN</th>
      <th style="text-align: center">LOST</th>
      <th style="text-align: center">POINTS</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, i| %>
      <tr>
        <td style="vertical-align: middle; font-size: 15px;"><%= i + 1 %></td>
        <td><%= link_to image_tag(player.image_url, style: "width: 36px"), player_path(player.id) %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.name %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.won_games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.drawn_games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.lost_games.count %></td>
        <td style="vertical-align: middle; font-size: 15px;"><%= player.elo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

