<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="profile">
  <%= image_tag @player.image_url %>
  <hr>
  <h3><%= @player.name %> - <%= @player.elo %> - (<%= "W#{@player.won_games.count}-D#{@player.drawn_games.count}-L#{@player.lost_games.count}" %>)</h3>
  <hr>
  <%= line_chart @events_data, min: @min, max: @max, discrete: true, library: {curveType: 'none', title: "ELO by events"}, id: "by_events" %>
  <%= line_chart @games_data, min: @min, max: @max, discrete: true, library: {curveType: 'none', title: "ELO by matches"}, id: "by_games" %>
  <table class="table table-striped" style="text-align: center">
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td style="vertical-align: middle; font-size: 15px;text-align: right;"><%= game.player1belo %>→<%= game.player1aelo %><%= image_tag game.player1.image_url, class: "logo" %><%= image_tag game.team1.logo, class: "logo" %></td>
          <td style="vertical-align: middle; font-size: 15px;text-align: center;"><b style="font-size:30px;"><%=game.result_in_text %></b><br><%= game.game_type %><br><%= game.tournament.name %></td>
          <td style="vertical-align: middle; font-size: 15px;text-align: left;"><%= image_tag game.team2.logo, class: "logo" %><%= image_tag game.player2.image_url, class: "logo" %><%= game.player2belo %>→<%= game.player2aelo %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  .profile {
    text-align: center;
  }
  .logo {
    height: 50px;
  }
</style>

<script>
$("#by_events").click(function(){
  $("#by_events").hide(300);
  $("#by_games").show(300);
});
$("#by_games").click(function(){
  $("#by_games").hide(300);
  $("#by_events").show(300);
});
</script>